<% if model.errors.any? %>
<% jp_messages = translation(model.errors.full_messages) %>
<div class="error-alert">
  <ul>
    <% jp_messages.each do |message| %>
    <li class='error-message'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>